node_modules/
dist/
build/
.env

backend/venv/
backend/__pycache__/
backend/models/
backend/data/

.DS_Store
node_modules
auth-server/.env
.env.local
.env.development
.env.test
.env.production
venv/
*.pyc
